USE [master]
GO
/****** Object:  Database [PRJ301_Assignment]    Script Date: 3/20/2023 5:19:00 PM ******/
CREATE DATABASE [PRJ301_Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRJ301_Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRJ301_Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_Assignment]
GO
/****** Object:  Table [dbo].[Attend]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attend](
	[aId] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [varchar](20) NOT NULL,
	[sessionId] [int] NOT NULL,
	[status] [bit] NULL,
	[recordTime] [datetime] NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[aId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseId] [varchar](10) NOT NULL,
	[courseName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[groupId] [int] NOT NULL,
	[groupName] [varchar](20) NULL,
	[courseId] [varchar](10) NULL,
	[instructorId] [varchar](20) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[instructorId] [varchar](20) NOT NULL,
	[instructorName] [nvarchar](100) NULL,
	[instructorImage] [varchar](max) NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[instructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participate]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participate](
	[groupId] [int] NOT NULL,
	[studentId] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Participate] PRIMARY KEY CLUSTERED 
(
	[groupId] ASC,
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[sessionId] [int] NOT NULL,
	[sessionName] [nvarchar](200) NULL,
	[date] [date] NULL,
	[slotId] [int] NULL,
	[lecturerId] [varchar](20) NULL,
	[groupId] [int] NULL,
	[roomId] [varchar](10) NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[sessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentId] [varchar](20) NOT NULL,
	[studentName] [nvarchar](100) NULL,
	[studentImage] [varchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[slotId] [int] NOT NULL,
	[slotNumber] [int] NULL,
	[startTime] [time](0) NULL,
	[endTime] [time](0) NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[slotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInstructor]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInstructor](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[id] [varchar](20) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_UserInstructor] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStudent]    Script Date: 3/20/2023 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStudent](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[id] [varchar](20) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_UserStudent] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attend] ON 

INSERT [dbo].[Attend] ([aId], [studentId], [sessionId], [status], [recordTime], [comment]) VALUES (1, N'HE150057', 1, 1, CAST(N'2023-01-03T13:30:00.000' AS DateTime), NULL)
INSERT [dbo].[Attend] ([aId], [studentId], [sessionId], [status], [recordTime], [comment]) VALUES (2, N'HE151095', 1, 1, CAST(N'2023-01-03T13:30:00.000' AS DateTime), NULL)
INSERT [dbo].[Attend] ([aId], [studentId], [sessionId], [status], [recordTime], [comment]) VALUES (3, N'HE153206', 1, 1, CAST(N'2023-01-03T13:30:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Attend] OFF
GO
INSERT [dbo].[Course] ([courseId], [courseName]) VALUES (N'CEA201', N'Computer Organization and Architecture')
INSERT [dbo].[Course] ([courseId], [courseName]) VALUES (N'CSD201', N'Data Structures and Algorithms')
INSERT [dbo].[Course] ([courseId], [courseName]) VALUES (N'CSI104', N'Introduction to Computer Science')
GO
INSERT [dbo].[Group] ([groupId], [groupName], [courseId], [instructorId]) VALUES (1, N'AI1708', N'CEA201', N'thangnv75')
INSERT [dbo].[Group] ([groupId], [groupName], [courseId], [instructorId]) VALUES (2, N'SE1744', N'CSD201', N'thangnv75')
INSERT [dbo].[Group] ([groupId], [groupName], [courseId], [instructorId]) VALUES (3, N'SE1826', N'SSG104', N'sonnt5')
GO
INSERT [dbo].[Instructor] ([instructorId], [instructorName], [instructorImage]) VALUES (N'anhnh88', N'Nguyễn Hoàng Anh', NULL)
INSERT [dbo].[Instructor] ([instructorId], [instructorName], [instructorImage]) VALUES (N'khaidq6', N'Đào Quang Khải', NULL)
INSERT [dbo].[Instructor] ([instructorId], [instructorName], [instructorImage]) VALUES (N'khuongpd', N'Phùng Duy Khương', NULL)
GO
INSERT [dbo].[Participate] ([groupId], [studentId]) VALUES (1, N'DE170703')
INSERT [dbo].[Participate] ([groupId], [studentId]) VALUES (1, N'HE153678')
INSERT [dbo].[Participate] ([groupId], [studentId]) VALUES (1, N'HE161700')
GO
INSERT [dbo].[Room] ([roomId]) VALUES (N'AL-201L')
INSERT [dbo].[Room] ([roomId]) VALUES (N'AL-202L')
INSERT [dbo].[Room] ([roomId]) VALUES (N'AL-203L')
GO
INSERT [dbo].[Session] ([sessionId], [sessionName], [date], [slotId], [lecturerId], [groupId], [roomId]) VALUES (1, NULL, CAST(N'2023-01-03' AS Date), 3, N'sonnt5', 15, N'BE-303')
INSERT [dbo].[Session] ([sessionId], [sessionName], [date], [slotId], [lecturerId], [groupId], [roomId]) VALUES (2, NULL, CAST(N'2023-01-06' AS Date), 4, N'sonnt5', 15, N'BE-303')
INSERT [dbo].[Session] ([sessionId], [sessionName], [date], [slotId], [lecturerId], [groupId], [roomId]) VALUES (3, NULL, CAST(N'2023-01-10' AS Date), 3, N'sonnt5', 15, N'BE-303')
GO
INSERT [dbo].[Student] ([studentId], [studentName], [studentImage]) VALUES (N'DE170703', N'Phạm Thanh Tùng', N'https://this-person-does-not-exist.com/img/avatar-1143eedea9925ced03a18fd71625a895.jpg')
INSERT [dbo].[Student] ([studentId], [studentName], [studentImage]) VALUES (N'HE130464', N'Lê Ngọc Tân', N'https://this-person-does-not-exist.com/img/avatar-116d2f56baf9d79cc4300b5fe7bfe295.jpg')
INSERT [dbo].[Student] ([studentId], [studentName], [studentImage]) VALUES (N'HE140339', N'Nguyễn Văn Toan', NULL)
GO
INSERT [dbo].[TimeSlot] ([slotId], [slotNumber], [startTime], [endTime]) VALUES (1, 1, CAST(N'07:30:00' AS Time), CAST(N'09:50:00' AS Time))
INSERT [dbo].[TimeSlot] ([slotId], [slotNumber], [startTime], [endTime]) VALUES (2, 2, CAST(N'10:00:00' AS Time), CAST(N'12:20:00' AS Time))
INSERT [dbo].[TimeSlot] ([slotId], [slotNumber], [startTime], [endTime]) VALUES (3, 3, CAST(N'12:50:00' AS Time), CAST(N'15:10:00' AS Time))
GO
INSERT [dbo].[UserInstructor] ([username], [password], [id], [role]) VALUES (N'sonnt5', N'1', N'sonnt5', 1)
INSERT [dbo].[UserInstructor] ([username], [password], [id], [role]) VALUES (N'thangnv75', N'1', N'thangnv75', 1)
INSERT [dbo].[UserInstructor] ([username], [password], [id], [role]) VALUES (N'yennth126', N'1', N'yennth126', 1)
GO
INSERT [dbo].[UserStudent] ([username], [password], [id], [role]) VALUES (N'tung', N'1', N'HE160533', 0)
GO
ALTER TABLE [dbo].[Attend]  WITH CHECK ADD  CONSTRAINT [FK_Attend_Session] FOREIGN KEY([sessionId])
REFERENCES [dbo].[Session] ([sessionId])
GO
ALTER TABLE [dbo].[Attend] CHECK CONSTRAINT [FK_Attend_Session]
GO
ALTER TABLE [dbo].[Attend]  WITH CHECK ADD  CONSTRAINT [FK_Attend_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([studentId])
GO
ALTER TABLE [dbo].[Attend] CHECK CONSTRAINT [FK_Attend_Student]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Course] FOREIGN KEY([courseId])
REFERENCES [dbo].[Course] ([courseId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Course]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Instructor] FOREIGN KEY([instructorId])
REFERENCES [dbo].[Instructor] ([instructorId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Instructor]
GO
ALTER TABLE [dbo].[Participate]  WITH CHECK ADD  CONSTRAINT [FK_Participate_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
GO
ALTER TABLE [dbo].[Participate] CHECK CONSTRAINT [FK_Participate_Group]
GO
ALTER TABLE [dbo].[Participate]  WITH CHECK ADD  CONSTRAINT [FK_Participate_Student] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([studentId])
GO
ALTER TABLE [dbo].[Participate] CHECK CONSTRAINT [FK_Participate_Student]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Group] FOREIGN KEY([groupId])
REFERENCES [dbo].[Group] ([groupId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Group]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Instructor] FOREIGN KEY([lecturerId])
REFERENCES [dbo].[Instructor] ([instructorId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Instructor]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Room] FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([roomId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Room]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_TimeSlot] FOREIGN KEY([slotId])
REFERENCES [dbo].[TimeSlot] ([slotId])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_TimeSlot]
GO
ALTER TABLE [dbo].[UserInstructor]  WITH CHECK ADD  CONSTRAINT [FK_User_Instructor] FOREIGN KEY([id])
REFERENCES [dbo].[Instructor] ([instructorId])
GO
ALTER TABLE [dbo].[UserInstructor] CHECK CONSTRAINT [FK_User_Instructor]
GO
ALTER TABLE [dbo].[UserStudent]  WITH CHECK ADD  CONSTRAINT [FK_UserStudent_Student] FOREIGN KEY([id])
REFERENCES [dbo].[Student] ([studentId])
GO
ALTER TABLE [dbo].[UserStudent] CHECK CONSTRAINT [FK_UserStudent_Student]
GO
USE [master]
GO
